<nav class="background-color: #A52A2A">
  <div>
    <a href="/" class="brand-logo" lang="ru" style="margin-left:40px;">Электронный Научный Журнал</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        
        {{#if isIndex}}
        <li class="active" lang="ru"><a href="/">Список статей</a></li>
        {{else}}
        <li lang="ru"><a href="/">Список статей</a></li>
        {{/if}}

        {{#if isAuthor}}
        <li class="active" lang="ru"><a href="/authors">Авторы</a></li>
        {{else}}
        <li lang="ru"><a href="/authors">Авторы</a></li>
        {{/if}}

    </ul>
  </div>
</nav>